.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    top:0;
    left:0;
    border: solid 1px black;
}

  body {
      margin: 0px;
  }
  button {
      width: 100px;
      height: 50px;
  }

  img{
    border-radius: 50%;
  }